/src/main/resources/application.properties
/src/main/resources/static/
/src/main/resources/frontendDashboard/test/.angular/cache/15.0.0/
/src/main/resources/frontendDashboard/test/node_modules/
/src/test/
/.idea/
/.idea/libraries/
/.idea/libraries/
/target/
C:/Users/yann/IdeaProjects/DASHBORD-FLT/src/main/resources/frontendDashboard/test/node_modules/*